* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #1c2c40;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;
}
input,
textarea,
select {
    font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a {
    color: #1c2c40;
}

a:hover,
.submit:hover {
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Circular-Std-Regular", Arial;
    font-weight: 400;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 980px;
}
@font-face {
    font-family: "Circular-Std-Regular";
    src: url("../fonts/CircularStd-Regular.woff2") format("woff2");
    src: url("../fonts/CircularStd-Regular.woff") format("woff");
    font-style: normal;
}
@font-face {
    font-family: "Circular-Std-Bold";
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal;
}
::placeholder {
    color: #d3cfcb;
}


#home { 
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;

	section.wrapper { 

		header { 
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: -99px;
            height: 85px;

			div.left { 
                display: flex;
                align-items: center;

				h1 { 
                    margin-right: 30px;

					a { 
                        width: 100%;
                        display: block;

						img { 
                            width: 100%;
                            display: block;

						}
					}
				}

				nav { 
                   

					ul { 
                        display: flex;
                        

						li { 
                            margin-right: 60px;
                            img {
                               margin-left: 20px;
                            }

							a { 
                                color: white;
                                font-size: 20px;

							}
						}
					}
				}
			}

			div.right { 
               
           
				ul { 
                    display: flex;
                    

					li { 
                        margin-right: 10px;
                        a.button{
                            padding: 13px 25px;
                           border-bottom: 4px;
                           background-color: #2dca72;
                           border-radius: 10px;
                        }

						a { 
                            color: white;
                            font-size: 20px;
                           
						}
					}
				}
			}
		}
	}
}
#spotlight { 
    padding: 180px 0;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    color: white;

	h1 { 
        font-size: 50px;
        font-weight: bolder;
        text-transform: capitalize;

	}

	p { 
        font-size: 20px;
        margin: 20px 0 60px;

	}

	form { 
        background-color: white;
        padding: 20px;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;

		input[type=text] { 
            flex: 1;
            padding: 12px 20px;
            border-radius: 4px;
            border: 1px solid #2dca72;

		}
        input[type=submit] {
            padding: 12px 35px;
            border-radius: 4px;
            background-color: #2dca72;
            color: white;
            cursor: pointer;
            font-weight: bold;
            margin-left: 15px;

        }
	}
}